html {
    background-color: gray;
    padding: 0;
    margin: 0;
}

body {
    margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 800px;
    background-color: white;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#header-background {
    position: fixed;
    top: 0px;
    width: inherit;
    height: 400px;
    background: url(../img/sushi-header.jpg);
    background-size: cover;
    box-shadow: inset 0px -235px 309px -118px rgba(0,0,0,0.73);

}

#header-background .description {
    position: absolute;
    bottom: 0;
    margin-bottom: 60px;
    width: inherit;
    text-align: center;
    font-family: sans-serif;
    color: white;
    line-height: 12px;
    font-size: 16px;
}

#article-foreground {
    position: relative;
    top: 350px;
    background-color: white;
    width: inherit;
    height: 2000px;
    -webkit-clip-path: ellipse(160% 50% at 50% 50%);
    -moz-clip-path: ellipse(160% 50% at 50% 50%);
    clip-path: ellipse(160% 50% at 50% 50%);

    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
/*
#article-foreground:before {
    content: '';
    position: absolute;
    top: -4px;
    background-color: #66FF33;
    width: inherit;
    height: 2000px;
    -webkit-clip-path: ellipse(160% 50% at 50% 50%);
    -moz-clip-path: ellipse(160% 50% at 50% 50%);
    clip-path: ellipse(160% 50% at 50% 50%);

    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
}
*/
.score {
    border-radius: 4px;
    border: green 4px solid;
    color: white;
    
    height: 20px;
    width: 20px;
    padding: 40px;
}

#article-foreground .score {
    position: static;
    top: -20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}